img {
    max-width: 100%;
    max-height: 100%;
}

#app {
    position: relative;
    background-color: red;
    border: 1px solid black;
    margin: 5vh;
    width: 300px;
    height: 300px;
}

.card-image {
    height: 200px;
    position: absolute;
    right: 12%;
    transform: translate(-50%, -50%); /* Zentrierung innerhalb des Containers */
    transition: bottom 1s ease-in-out, transform 1s ease-in-out; /* Sicherstellen, dass die Transition auch hier definiert ist */
}
.card-image.hide {
    bottom: -100% !important;
}

.card-image#card1 {
    bottom: -10%;
}
.card-image#card2 {
    bottom: -15%;
}
.card-image#card3 {
    bottom: -20%;
}
.card-image#card4 {
    bottom: -25%;
}
.card-image#card5 {
    bottom: -30%;
}

.effect {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.effect.hide {
    display: none;
}
.effect img {
    position: absolute;
}

#booster {
    position: absolute;
    bottom: -115%;
    background-color: green;
    height: 200px;
    width: 175px;
    left: 15%;
    transform: translate(0, -90%);
    transition: bottom 1s ease-in-out, transform 1s ease-in-out;
}
#booster.hide {
    bottom: -130% !important;
}
#booster img {
    height: 100%;
    width: 100%;
}